body {
  background: -webkit-linear-gradient(left, #b9b9c9 40%,#F9F6F0 40%);
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-25%);
}

.col-xs-6, col-lg-6 {
  height: 600px;
  width: 600px;
  text-align: center;
  margin: 50vh auto 0;
}

.col1 {
  background-color: #dcdce4;
  box-shadow: var(--shd,0 3px 5px rgba(0,0,0,.6));
  text-align: center;
}

.col2 {
  background-color: #F9F6F0;
}

.profile-img {
  border-radius: 50%; 
  width: 260px;
  height: 260px;
  margin: auto;
  display: block;
  margin-top: 20px;
}

.line {
  width: 50px;
  margin-left: 275px;
  margin-bottom: 2px;
  margin-top: 2px;
  background: black;
}

.social-icons {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: white;
  margin-top: 40px;
}

.fa {
  padding: 12px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius: 60%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  color: black;
}

.fa-github {
  color: black;
}

.fa-envelope-o {
  color: black;
}

.fa-phone {
  color: black;
}

.inner-col {
  transform: translateY(100%);
}

.name {
  margin-right: 190px;
  transform: translateX(5%);
}

.typewriter h1 {
  font-size: 100px;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.uni {
  font-size: x-large;
  font-weight: 900;
  margin-top: 30px;
  transform: translateX(-15%);
}

.container > .button {
  text-align: center;
}

.button {
  margin-top: 70px;
  border-radius: 20px;
  color: white;
  background: darkgreen;
  padding: 10px;
  border-style: solid;
  margin-right: 50px;
  border: 0;
  margin-right: 110px;
  margin-left: -70px;
  margin-top: 30px;
}

.bio {
  transform: translateX(-15.5%);
  margin-top: 30px;
}